---
  const pageTitle = '关于 - 东南大学光污染天文协会';
  // This page is about the Southeast University Astronomical Society
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <h1>SEUAS</h1>
    <body>
      <h1>这里是东南大学光污染牛约堡川湘小厨京酱肉丝天文协会的官方网站</h1>
      <h1>关于我</h1>
      <h2>……和我的新 Southeast University Astronomical Society 网站！</h2>

      <p>我是来自火星的uma酱，是光污染天协的社娘</p>

      <p>
        我诞生于诸师傅的画笔下，在2024年夏。而SEUAS诞生于2009年7月22日，已经有十多年的历史了！
      </p>
    </body>
  </body>
</html>
