---
const pageTitle = "大事记 - 东南大学光污染天文协会";
// This page is about the Southeast University Astronomical Society
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
    <a href="/event/">大事记</a>
    <h1>SEUAS的大事记</h1>
    <body>
      <h1>这里是东南大学光污染麦乐鸡麦香鸡天文协会的编年史</h1>
      <h2>2025年</h2>
      <h3>2025.10</h3>
      <h4>新社员见面会</h4>
      <p>
        时间:2025.10.29下午15:00-16:30 <br />
        地点:四牌楼校区五四楼203<br />
        届时想参与星海拾信的同学可以将信件一并交予我<br />
        内容简介:社团介绍，uma介绍，员工招聘，填字游戏等……就是这样，喵<br />
        ——崔赫男
      </p>
      <h3>2025.11</h3>
      <h4>紫台活动</h4>
      <p>
        万众瞩目、一年一度的紫台活动来啦！！<br />
        那么就有大一xdx要问了，学姐学姐紫台是什么呀？请看南天联官方通知↓<br />
        【关于紫台活动的初步通知（简洁版）】 活动：紫金山天文台参观<br />
        时间：11.15、11.16（均为上午）<br />
        形式：各校带队至指定地点，集合后一起上山。【请各校自行统计报名人员，再上报给南天联】<br
        />
        费用：由于我们去的紫台属于景区，需要门票，由南天联统一购买，购买后会收取费用。<br
        />
        趣味环节：（1）各校成员互换徽章。（2）南天联准备在本次登山途中设置答题环节，登上山顶后可根据答对数量兑换奖品。
        （3）精美文创售卖。 【详细通知在具体安排确定后发布】<br />
        【❗️东南大学天文协会特别通知❗️】 紫台还有新的uma周边！即将开启预定！！
      </p>
      <h4>星月交响乐</h4>
      <p>
        🌟正式回归 星月交响乐——天文科普与音乐会🌟<br />
        上半年嘉年华因故未能举行，脱胎于嘉年华的本次活动在申请过程中也经历了诸多困难与波折，但正是因为大家的期待与支持，我们从未放弃。现在，天文科普与音乐会终于能和大家见面了！
        所有的等待都已值得，这份来之不易的邀约，献给每一位热爱星空的你！ 🥳<br
        />
        活动详情 🥳<br />
        · 活动主题： 星月交响乐——天文科普与音乐会<br />
        · 主办方： 南京高校天文联合会<br />
        · 承办方： 南京邮电大学天文协会<br />
        · 活动时间： 2025年11月29日（周六） 18:30开始 21:00结束<br />
        · 活动地点： 南京邮电大学仙林校区青春剧场 <br />
        · 参与对象： 南京高校天文联合会全体成员及各高校天文爱好者<br />
        （1）特邀天文知识深厚的同学进行现场讲座，有介绍人类测量星星距离的方法、星桥法简单讲解、恒星的生命历程等内容。<br
        />
        （2）现场设有紧张刺激的天文词汇你描述我猜环节，更有大型天文文创周边交换与售卖摊位。<br
        />
        （3）丰富的唱歌、演奏节目。表演曲目均与天文主题相关，有《红日》《水星记》《月球》《天文馆的猫》《春江花月夜》等。（收尾歌曲与天文无关，但《与你有关》）<br
        />
        <a
          href="https://mp.weixin.qq.com/s/MXY9ocQBeuEMzR_116Uvpg"
          target="_blank"
          >【活动快剪】星月交响乐-天文科普与音乐会
        </a>
        <br/>
        在本次活动中，现任猫猫社长崔赫男带领4位大一小登参加，充分履行了社长老带新的职责！在天文词汇你描述我猜环节中，东南大学首发登场，孙逸涵作为描述者，郭旭洋作为猜词者，合作答对全部3道题目（虽然抽到的题都很简单），获得3套南天联徽章奖励。
      </p>
    </body>
  </body>
</html>
