---
const pageTitle = "大事记 - 东南大学光污染天文协会";
// This page is about the Southeast University Astronomical Society
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
    <a href="/event/">大事记</a>
    <h1>SEUAS的大事记</h1>
    <body>
      <h1>这里是东南大学光污染麦乐鸡麦香鸡天文协会的编年史</h1>
      <h2>2025年</h2>
      <h3>2025.10</h3>
      <h4>新社员见面会</h4>
      <p>
        时间:2025.10.29下午15:00-16:30 <br />
        地点:四牌楼校区五四楼203<br />
        届时想参与星海拾信的同学可以将信件一并交予我<br />
        内容简介:社团介绍，uma介绍，员工招聘，填字游戏等……就是这样，喵<br />
        ——崔赫男
      </p>
      <h3>2025.11</h3>
      <h4>紫台活动</h4>
      <p>
        万众瞩目、一年一度的紫台活动来啦！！<br />
        那么就有大一xdx要问了，学姐学姐紫台是什么呀？请看南天联官方通知↓<br />
        【关于紫台活动的初步通知（简洁版）】 活动：紫金山天文台参观<br />
        时间：11.15、11.16（均为上午）<br />
        形式：各校带队至指定地点，集合后一起上山。【请各校自行统计报名人员，再上报给南天联】<br
        />
        费用：由于我们去的紫台属于景区，需要门票，由南天联统一购买，购买后会收取费用。<br
        />
        趣味环节：（1）各校成员互换徽章。（2）南天联准备在本次登山途中设置答题环节，登上山顶后可根据答对数量兑换奖品。
        （3）精美文创售卖。 【详细通知在具体安排确定后发布】<br />
        【❗️东南大学天文协会特别通知❗️】 紫台还有新的uma周边！即将开启预定！！
      </p>
    </body>
  </body>
</html>
