---
const pageTitle = "大事记 - 东南大学光污染天文协会";
// This page is about the Southeast University Astronomical Society
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>
    <a href="/event/">大事记</a>
    <h1>SEUAS的大事记</h1>
    <body>
      <h1>这里是东南大学光污染麦乐鸡麦香鸡天文协会的编年史</h1>
      <h2>2025年</h2>
      <h3>2025.9</h3>
      <h4>月全食</h4>
      <p>
        9月8日月全食，天文协会在钢菊西架起多台望远镜，吸引了一两百名同学前来观看月全食。诸师傅也在这一天开光了她的双筒望远镜。<br
        />
        天文协会还利用星特朗三轴手机夹和小黑帮助每一位来看月全食的同学拍照，让大家可以用自己的手机拍下美丽的月食照片。<br
        />
        值得一提的是，天气预报本来是预报9月8日晚多云的，但是岳鸿羽仍然坚持出摊，结果是整个夜晚天空万里无云，属实是老天眷顾。<br
        />
        <a
          href="https://mp.weixin.qq.com/s/6OPv8bJHdv_UCqTIj0LuJA"
          target="_blank"
          >SEU天协“血月观赏夜”
        </a>
      </p>
      <h4>《窗外是蓝星》观影会</h4>
      <p>
        9月13日，天文协会组织集体观影会，前往殷巷观看新上映的航天电影《窗外是蓝星》<br
        />
        <a
          href="https://mp.weixin.qq.com/s/zNB2gjx9HxwmUCoWHBWF9Q"
          target="_blank"
          >活动记录 | 《窗外是蓝星》观影会
        </a>
      </p>
      <h4>社团秋招，百团大战</h4>
      <p>
        9月19日，东南大学光污染天文协会参加学校举办的“百团大战”社团秋招活动，崔社长戴上了猫耳招新（就是这样，喵~）<br
        />
        招新活动也吸引来了许多校外友社成员前来。<br />
        <a
          href="https://mp.weixin.qq.com/s/EtC3yoy7JaVy1TYK1I5xbA"
          target="_blank"
          >招新！！！东大天协！！\0/\0/\0/
        </a>
      </p>
      <h4>出摊</h4>
      <p>9月22日，在梅园西出摊，岳师傅教给石师傅如何在笔记本电脑上使用NINA</p>
      <h3>2025.10</h3>
      <h4>天文课进社区</h4>
      <p>
        诸师傅和王思远走进社区为孩子们上天文科普课。<br />
        <a
          href="https://mp.weixin.qq.com/s/_VibwFLqj4siyxBKHkvnCQ"
          target="_blank"
          >给孩子们的一堂天文课
        </a>
      </p>
      <h4>新社员见面会</h4>
      <p>
        时间:2025.10.29下午15:00-16:30 <br />
        地点:四牌楼校区五四楼203<br />
        届时想参与星海拾信的同学可以将信件一并交予我<br />
        内容简介:社团介绍，uma介绍，员工招聘，填字游戏等……就是这样，喵<br />
        ——崔赫男
      </p>
      <h3>2025.11</h3>
      <h4>紫台活动</h4>
      <p>
        万众瞩目、一年一度的紫台活动来啦！！<br />
        那么就有大一xdx要问了，学姐学姐紫台是什么呀？请看南天联官方通知↓<br />
        【关于紫台活动的初步通知（简洁版）】 活动：紫金山天文台参观<br />
        时间：11.15、11.16（均为上午）<br />
        形式：各校带队至指定地点，集合后一起上山。【请各校自行统计报名人员，再上报给南天联】<br
        />
        费用：由于我们去的紫台属于景区，需要门票，由南天联统一购买，购买后会收取费用。<br
        />
        趣味环节：（1）各校成员互换徽章。（2）南天联准备在本次登山途中设置答题环节，登上山顶后可根据答对数量兑换奖品。
        （3）精美文创售卖。 【详细通知在具体安排确定后发布】<br />
        【❗️东南大学天文协会特别通知❗️】 紫台还有新的uma周边！即将开启预定！！
      </p>
      <h4>星月交响乐</h4>
      <p>
        🌟正式回归 星月交响乐——天文科普与音乐会🌟<br />
        上半年嘉年华因故未能举行，脱胎于嘉年华的本次活动在申请过程中也经历了诸多困难与波折，但正是因为大家的期待与支持，我们从未放弃。现在，天文科普与音乐会终于能和大家见面了！
        所有的等待都已值得，这份来之不易的邀约，献给每一位热爱星空的你！ 🥳<br
        />
        活动详情 🥳<br />
        · 活动主题： 星月交响乐——天文科普与音乐会<br />
        · 主办方： 南京高校天文联合会<br />
        · 承办方： 南京邮电大学天文协会<br />
        · 活动时间： 2025年11月29日（周六） 18:30开始 21:00结束<br />
        · 活动地点： 南京邮电大学仙林校区青春剧场 <br />
        · 参与对象： 南京高校天文联合会全体成员及各高校天文爱好者<br />
        （1）特邀天文知识深厚的同学进行现场讲座，有介绍人类测量星星距离的方法、星桥法简单讲解、恒星的生命历程等内容。<br
        />
        （2）现场设有紧张刺激的天文词汇你描述我猜环节，更有大型天文文创周边交换与售卖摊位。<br
        />
        （3）丰富的唱歌、演奏节目。表演曲目均与天文主题相关，有《红日》《水星记》《月球》《天文馆的猫》《春江花月夜》等。（收尾歌曲与天文无关，但《与你有关》）<br
        />
        <a
          href="https://mp.weixin.qq.com/s/MXY9ocQBeuEMzR_116Uvpg"
          target="_blank"
          >【活动快剪】星月交响乐-天文科普与音乐会
        </a>
        <br />
        在本次活动中，现任猫猫社长崔赫男带领4位大一小登参加，充分履行了社长老带新的职责！在天文词汇你描述我猜环节中，东南大学首发登场，孙逸涵作为描述者，郭旭洋作为猜词者，合作答对全部3道题目（虽然抽到的题都很简单），获得3套南天联徽章奖励。<br
        />
        徜徉在音乐中，身边是几百个志同道合的朋友，这种感觉真是美妙极了。<br />
      </p>
      <h3>2025.12</h3>
      <h4>石臼湖双子流</h4>
      <p>
        12月13日东南大学光污染天文协会和河海大学天文地理协会的同学们一起乘坐地铁前往石臼湖。<br
        />
        大家一起看流星，吃火锅，非常热闹。<br />
        当天晚上直到凌晨1点多都是无月黑夜，几乎对着天空看上一会就能看到流星划过，有时还有两颗甚至三颗流星同时划过。<br
        />
        14日凌晨5点多还恰好赶上中国空间站过境和国际空间站过境。<br />
        <a
          href="https://mp.weixin.qq.com/s/pJbGFCdP3okx9BPr0MN7DQ"
          target="_blank"
          >石臼之上的双子流星:东南&河海联合野观巡天志
        </a> 
      </p>
    </body>
  </body>
</html>
