---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <h1>东南大学光污染天文协会</h1>
    <h2>“有一群热爱天文的孩子<br>
      这里有一个仰望星空的梦<br>
      当看见寻觅依旧的星月<br>
      出现在我们视野中时<br>
      我们激动不已<br>
      我们欢呼雀跃”</h2>
    <p>
      东南大学天文协会成立于2009年11月。成立以来一直以提高同学们学习天文的兴趣，能更好的体验天文的乐趣为宗旨。
      我们致力于为全校的天文爱好者提供一个交流与仰望星空的平台，把志同道合的东大天文发烧友聚集在宁静的东大校园或美丽的郊外，借助各种天文器材一起探索绚丽的苍穹。
      同时我们也希望有更多的同学能够看见并热爱这片浩瀚星海，在宇宙的无穷中领略到生命的渺小与奇迹，于浩渺星辰中找到心灵的归宿。<br>
      ——夏天乐
    </p>
  </body>
</html>
